# Data Science Tools & Eco System

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**
- List popular Data Science Languages
- Use Bold and list functions in markdown
- Create a markdown table

Some of the popular languages that Data Scientists use are:
- Python
- R
- Scala
- Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numby
3. Matplotlib
4. Scikit Learn

|Data Science Tools|
|------------------|
|Rstudio|
|Jupyternotebook|
|Watson Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Abdul Moiz Ali